[mcu]
##  MCU for X/Y/E steppers main MCU
##  [X in X] - B Motor
##  [Y in Y] - A Motor
##  [E in E0] - Extruder
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0BB00017A9846AAF82F9545EC52000F5-if00
##--------------------------------------------------------------------